{#
Text input field
----------------
Usage:         
{{ widgets.text('Ihr Benutzername', 'username', 'Geben sie hier Ihren Benutzernamen ein.', errors=errors, required=true, size=100, placeholder="Ihr Name") }}
#}
{% macro text(title, name, helptext='', default='', errors={}, values={}, size=20, maxlength=255, required=false, placeholder="") -%}
    <div class="field" id="formfield-{{name}}">
        {{ _labelline(name, title, required) }}
        <input type="text" 
               id="{{name}}" 
               name="{{name}}" 
               value="{{values[name]|e if values[name] else default}}" 
               maxlength="{{maxlength}}" 
               size="{{size}}" 
               placeholder="{{placeholder}}">
        {{ _helpline(helptext) }}
        {{ _errorline(name, errors) }}
    </div>
{%- endmacro %}

{#
Textarea
--------
Usage:  
{{ widgets.textarea('Ihre Nachricht', 'comment', 'Hinterlassen Sie uns eine Nachricht.', errors=errors, required=true) }}       
#}
{% macro textarea(title, name, helptext='', default='', errors={}, values={}, rows=10, cols=60, required=false) -%}
    <div class="field" id="formfiled-{{name}}">
        {{ _labelline(name, title, required) }}
        <textarea id="{{name}}" 
                  name="{{name}}" 
                  rows="{{rows}}" 
                  cols="{{cols}}">
            {{values[name]|e if values[name] else default}}
        </textarea>
        {{ _helpline(helptext) }}
        {{ _errorline(name, errors) }}
    </div>
{%- endmacro %}

{#
Checkbox input field
--------------------
Usage:  
{{ widgets.checkbox('Newsletter', 'newsletter', 'Wollen Sie den Newsletter erhlaten?',checked=true, errors=errors) }}       
#}
{% macro checkbox(title, name, helptext='', errors={}, values={}, checked=false, required=false) %}
    <div class="field" id="formfiled-{{name}}">
        {{ _labelline(name, title, required) }}
        <input type="checkbox" 
               id="{{name}}" 
               name="{{name}}" 
               value="{{values[name]|e}}" 
               {{'checked="checked"' if checked}}>
        {{ _helpline(helptext) }}
        {{ _errorline(name, errors) }}
    </div>
{% endmacro %}

{#
Radiobox input field
--------------------
Usage:  
{{ widgets.radio('Radio', 'radio', values=[('a', 'A'), ('b', 'B')], checked='b', errors=errors) }}       
'values' must be a list of tuples, e.g. [('a', 'A'), ('b', 'B')]
#}
{% macro radio(title, name, helptext='', errors={}, values=[], checked='', required=false) %}
    <div class="field" id="formfiled-{{name}}">
        {{ _labelline(name, title, required) }}
        {% for val in values %}
            <input type="radio" 
                   id="{{name}}" 
                   name="{{name}}" 
                   value="{{val[0]|e}}"
                   {{'checked="checked"' if checked==val[0]}}>{{val[1]}}<br/>
        {% endfor %}
        {{ _helpline(helptext) }}
        {{ _errorline(name, errors) }}
    </div>
{% endmacro %}

{#
Select input field
------------------
Usage:  
{{ widgets.select('Auswahl', 'select', options=[('a', 'A'), ('b', 'B')], errors=errors) }}       
'values' must be a list of tuples, e.g. [('a', 'A'), ('b', 'B')]
#}
{% macro select(title, name, helptext='', values={}, errors={}, options=[], size=1, multiple=false, required=false) %}
    <div class="field" id="formfiled-{{name}}">
        {{ _labelline(name, title, required) }}
        <select name="{{name}}" size="{{size}}" {% if checked %}multiple{% endif %}>
            <option value=""></option>
            {% for option in options %}
                <option {% if values[name]==option[0] %}selected="selected"{% endif %} value="{{option[0]}}">{{option[1]}}</option>
            {% endfor %}
        </select>
        {{ _helpline(helptext) }}
        {{ _errorline(name, errors) }}
    </div>
{% endmacro %}

{#
date input field
----------------
Usage:  
{{ widgets.date('Datum', 'date', errors=errors, required=true) }}       
It uses the DatePicker-plugin from jQuery-UI.
#}
{% macro date(title, name, helptext='', errors={}, values={}, default='',
    required=false, 
    lang="de",
    calendar_button="/img/calendar.gif",
    date_format="dd.mm.yy"
    ) %}
    <script type="text/javascript">
        $(document).ready(function(){
            $.datepicker.setDefaults($.datepicker.regional['{{lang}}']);
            $("#datepicker-{{name}}").datepicker({
                showOn: "button",
                buttonImage: "{{calendar_button}}",
                buttonImageOnly: true,
                dateFormat: '{{date_format}}',
                showAnim: 'fadeIn',
                autoSize: true,
                firstDay: 1,
            });
        });
    </script>
    <div class="field" id="formfiled-{{name}}">
        {{ _labelline(name, title, required) }}
        <input type="text" 
               id="datepicker-{{name}}"
               name="{{name}}"
               value="{{values[name]|e if values[name] else default}}">
        {{ _helpline(helptext) }}
        {{ _errorline(name, errors) }}
    </div>
{% endmacro %}

{#
Submit button
-------------
Usage:  
{{ widgets.submit() }}
#}
{% macro submit(value='Absenden') %}
    <div class="field buttons">
        <input type="submit" class="button block" value="{{value}}">
    </div>
{% endmacro %}



{# 
=============
helper macros
============= 
#}


{% macro _labelline(name, title='', required=false) %}
    {% if title %}
        <label for="{{name}}">{{title}}{% if required %}*{% endif %}</label>
    {% endif %}
{% endmacro %}

{% macro _helpline(text='') %}
    {% if text %}
        <div class="help">{{text}}</div>
    {% endif %}
{% endmacro %}

{% macro _errorline(name, errors={}) %}
    {% if errors[name] %}
        <div class="error">{{errors[name]}}</div>
    {% endif %}
{% endmacro %}
